#rules-wrapper {
	margin: 0 auto;
	background-color: rgb(227, 235, 247);
}

#rules-container {
}

header {
	background-color: #f4f2f3;
	padding: 1rem;
}

#title {
	background-color: rgb(111, 151, 211);
}

h1 {
	text-align: center;
	color: #fff;
	padding: 5rem 1rem;
	font-weight: 200;
}

#rules-container {
	display: flex;
	flex-direction: column;
	background-color: rgb(227, 235, 247);
	margin: 0 auto;
	max-width: 785px;
}

.item {
	margin: 0.4rem 1.3rem;
	background-color: white;
	padding: 1.25rem;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.36);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.36);}

.itemTitle {
	text-align: left;
	padding-left: 0.5rem;
	margin: 2rem auto;
}

.itemTitle h2 {
	border-left: 2px solid blue;
	color: rgb(111, 151, 211);
	font-weight: 200;
	margin: 0.5rem;
	padding-left: 0.5rem;
}

.itemContent {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-evenly;
}

.column {
	border: 1px solid green;
	
	padding: .5rem;
	margin: .5rem;
	text-align: center;
	cursor: pointer;
	color: black;
}

.containerTab {
	padding: 20px;
	color: black;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.closebtn {
	float: right;
	color: grey;
	font-size: 35px;
	cursor: pointer;
}

#requirements {
	background-color: beige;
	margin: 2rem auto;
}

.itemContent ul, p {
	margin: auto 1rem;
	padding: 1rem 1.5rem;
}

.linkContainer {
	padding: .75rem 1.5rem;
}

.linkContainer a {
	display: block;
	color: #666;
	border-radius: 5px;
	font-size: large;
	padding: auto 1rem;
	margin: 0.25rem auto;
	text-decoration: none;
	text-align: left;
}

@media screen and (min-width: 790px) {

}