body{
    width: 90%;
}

h1{
    text-align: center;
    justify-content: center;
}

.water{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    text-align: center;
}

img{
    width: 25%;
    height: auto;
}