@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

body {
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}


a {
  padding-top: 7px;
  padding-bottom: 1px;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 19pt;
  font-weight: 900;
  text-decoration: none;
}

.header__nav_list {
  position: fixed;
  top: 0;
  left: 0em;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  border-bottom: solid 7px #eaff07;
  border-top: solid 6px #eaff07;
  background-image: radial-gradient(
    circle at 32.61% -14.89%,
    #04045c 0,
    #04045c 50%,
    #04045c 100%
  );
  margin-top: 0;
  height: 80pt;
}

.header__nav_listItem {
  list-style-type: none;
  margin-top: 2vw;
  margin-right: 20px;
  margin-left: 0px;
  justify-items: stretch;
  display: inline-block;
  margin-right: 125px;
}

.header__nav_list img {
  width: 47px;
}

.header__nav_listItem p {
  justify-content: center;
 width: 5vw;
  align-items: center;
  display: flex;
  margin: 1 5px;
}

h1 {
  font-size: 32pt;
  border-bottom: solid 3px;
  padding-bottom: 4pt;
  word-spacing:75px;
}

.footer {
  color: black;
  text-align: center;
  margin-bottom: 5em;
}

.container2 {
  margin-top: 4.45em;
  justify-content: center;
  text-align: center;
  font-family: "Just Another Hand", cursive;
  font-size: 20pt;
  word-spacing: 8px;
  letter-spacing: 10px;
  color: #ffff00;
  text-shadow: 4px 6px 8px rgba(42, 77, 65, 0.589);
  position: absolute;
  background-color: #5EA7D3;
  margin-right: 0.5vw;
  width: 100%;
  height: 30em;
}

.panel .inner {
  display: table-cell;
  vertical-align: middle;
}

.backgroundimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 7.5em;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center top;
  z-index: 5;
}


#back1 {
  background: url("backgrounds/background7.jpeg") no-repeat center fixed;
  z-index: 5;
}

#back2 {
  background: url("backgrounds/background10.jpeg") no-repeat center fixed;
  z-index: 5;
}

#back3 {
  background: url("backgrounds/background8.jpeg") no-repeat center fixed;
  z-index: 5;
}

#back4 {
  background: url("backgrounds/background2.jpeg") no-repeat center fixed;
  z-index: 5;
}


@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

#backgroundchange div:nth-of-type(4) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}


#backgroundchange div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 20s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 20s;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
}
.words {
  position: absolute;
  z-index: 1000;
  font-size: 60pt;
  color: #fff700;
  font-weight:bolder;
  width: 500%;
  margin-left: 2.5em;
  margin-top: 2.5em;
  -webkit-animation: fadein 10s; 
  -moz-animation: fadein 10s; 
   -ms-animation: fadein 10s; 
    -o-animation: fadein 10s; 
       animation: fadein 10s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.detail {
  width: 200px;
  height: 200px;
  position: relative;
}
.words2 p {
  position: absolute;
  z-index: 1000;
  font-size: 14pt;
  font-weight: 900;
  color: #fff700;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  width: 350%;
  margin-left: 19.5em;
  margin-top: 22em;
  background-color: #000000;
  border-color: #fff700;
  border: solid;
  opacity: 0.6;
  border-radius: 10px;
  letter-spacing: 5px;
}

#developers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin-bottom: 5em;
}

#developers article img {
  width: 14vw;
  border: solid;
object-fit: contain;
justify-content: center;
}



