@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

h1 {
  font-size: 33pt;
  border-bottom: none;
  padding-bottom: .25em;
  word-spacing: 15px;
}

.footer {
  color: #fff;
  display:flex;
  text-align: center;
  margin: 3rem 0rem 3rem;
  background-color: #1c4a67;
  padding: 2rem 0;
  width: 100%;
}

#developers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin-bottom: 5em;
}

#developers article img {
  width: 14vw;
  border: solid;
  border-color: rgb(247, 239, 18);
object-fit: contain;
justify-content: center;
border-radius: 10%;
margin-top: 1em;
animation: fadeIn 5s;
-webkit-animation: fadeIn 5s;
-moz-animation: fadeIn 5s;
-o-animation: fadeIn 5s;
-ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
}



