h1{
    text-align: center;
}

img {
    display: block;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.fishInfo{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 15px;
    font-size: 30px;
}
.fishInfo p{
    padding: 2px;
    text-align: center;
}

.baitRecommendations h2{
    padding-bottom: 8px;
    font-size: 38px;
    text-align: center;
}

.bait {
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;
}

@media only screen and (max-width: 800px) {

    img{
        width: 60%;
        height: auto;
    }

    .fishInfo p{
        font-size: 14px;
    }

    .bait{
        font-size: 14px;
    }

    .baitRecommendations h2{
        font-size: 22px;
    }
    
    }