#rules-container {
	margin: 0 auto;
	max-width: 900px;
	font-size: 1rem;
	line-height: 1.5;
	font-family: 'Mukta', sans-serif;
}

#regulation-buttons {
	display: flex;
	flex-direction: column;
}

.row {
	margin: 0 auto;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.column {
	border-radius: 50px;
	background-color: #215778;
	border-bottom: solid 4px #627295;
	color: #fff;
	display: flex;
	padding: 0;
	width: 16rem;
	height: 3rem;
	margin: 1rem auto;
	cursor: pointer;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.column:hover {
	background-color: #1c4a67;
	color: #fff;
}

.column:active {
	/*on Click*/
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*Move down*/
	border-bottom: none; /*disappears*/
	background-color: #133245;
}

.containerTab {
	padding: 0;
	color: black;
}

.containerImage {
	display: flex;
	min-height: 100px;
}

.containerImage img {
	min-width: 100%;
	margin: 0 auto;
	background-size: contain;
}

#a2 ul {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'. .'
		'. .';
}

#b1 {
	border-left: 3px solid #805257;
}


#b2 {
	border-left: 3px solid #d5b6ac;
}

.closebtn {
	float: right;
	color: #282936;
	font-size: 35px;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.item {
		margin: 2rem 0;
	}
}
