#content-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: hidden;
}

#rules-container {
	display: flex;
	flex-direction: column;
	background-color: rgb(227, 235, 247);
	margin: 0 auto;
	max-width: 785px;
}

h1 {
	background-color: rgb(111, 151, 211);
	text-align: center;
	color: #fff;
	padding: 5rem 1rem;
	font-weight: 200;
}

.item {
	margin: 0.4rem 1.3rem;
	background-color: white;
	padding: 1.25rem;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.36);
}

.itemTitle {
	text-align: left;
	padding-left: 0.5rem;
	margin: 2rem auto;
}

.itemTitle h2 {
	border-left: 2px solid blue;
	color: rgb(111, 151, 211);
	font-weight: 200;
	margin: 0.5rem 0.5rem 0 0.5rem;
	padding-left: 0.5rem;
}

.itemContent {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
}

.itemContent ul,
p {
	margin: 0.5rem 1rem;
	padding: 0;
}

.item-link {
	padding: 1rem 3rem;
}

.item-link a {
	display: block;
	color: #666;
	border-radius: 5px;
	font-size: large;
	padding: auto 1rem;
	margin: 0.25rem auto;
	text-decoration: none;
	text-align: left;
}

.item-link a:hover {
	text-decoration: underline;
}

.row {
	margin: 0 auto;
	border-radius: 30px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.column {
	border: 1px solid #666;
	border-radius: 30px;
	padding: 1rem 2rem;
	margin: 0;
	text-align: center;
	cursor: pointer;
	color: black;
}

.containerTab {
	padding: 20px;
	color: black;
}

.containerImage {
	display: flex;
	border: 1px solid blue;
	min-height: 100px;
}

.containerImage img {
	min-width: 100%;
	margin: 0 auto;
	background-size: contain;
}

#a2 ul {
	padding: .5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'. .'
		'. .';
}

#requirements {
	float: inline-start;
}

#requirements:hover {
	background-color: #805257;
	color: #fff;
}

#b1 {
	border-left: 3px solid #805257;
}

#exemptions {
	float: inline-end;
}

#exemptions:hover {
	background-color: #d5b6ac;
	color: #fff;
}

#b2 {
	border-left: 3px solid #d5b6ac;
}

.closebtn {
	float: right;
	color: grey;
	font-size: 35px;
	cursor: pointer;
}

@media screen and (min-width: 790px) {
	#rules-container {
		/* display: grid; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 0px 0px; 
		grid-template-areas: 
		  ". ."
		  ". .";  */
	}
}
