#base-wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-size: 16px;
	/* background-color: black; */
}

.base-container {
	font-size: 1.4em;
	text-align: center;
	word-spacing: 0.175rem;
	text-shadow: 4px 6px 8px rgba(42, 77, 65, 0.589);
	background-image: radial-gradient(
		circle at 32.61% -14.89%,
		#04045c 0,
		#04045c 50%,
		#04045c 100%
	);
}

.base-content {
	background-color: #5ea7d3;
}

.nav_list {
	display: flex;
	justify-content: space-around;
	border-top: solid 6px #eaff07;
	border-bottom: solid 6px #eaff07;
}

.nav_list li {
	border: 2px solid red;
	border-radius: 5px;
	align-self: center;
	display: flex;
	margin: 1.5rem auto;
}

.nav_list img {
	width: 100%;
	max-height: 4.5rem;
}

.nav_listItem p {
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	font-family: 'Bahianita', cursive;
	letter-spacing: 0.15rem;
}

.nav_listItem a:hover {
	color: #eaff07;
}

h1 {
	border: 1px solid yellow;
	background-color: #5ea7d3;
	color: #ffff00;
	font-family: 'Just Another Hand';
	letter-spacing: 0.15;
	text-transform: uppercase;
	font-size: 2.5em;
	margin: 0 auto;
	padding: 3rem;
}

h2 {
	border: 2px solid green;
	font-family: 'Bahianita', cursive;
}

.footer {
	border: 2px solid red;
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 3rem 4rem 2rem;
	padding: 0 0;
}

#footer-lg {
	border: 3px solid yellow;
	display: flex;
  flex-direction: row;
	padding: 2rem;
	flex: 3;
}

#footer-lg img {
	max-width: 100px;
}

#footer-sm {
	padding: 2rem;
	border: 3px solid green;
	flex: 2;
}

@media (min-width: 790px) {
	.footer {
		flex-direction: row;
	}
}
