body {
	background-color: #5ea7d3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
}

#base-wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.base-container {
	background-color: #1c4a67;
	text-align: center;
}

.base-content {
	background-color: #5ea7d3;
	padding-bottom: 4rem;
}

.nav_list {
	border-top: solid 3px #eaff07;
	border-bottom: solid 3px #eaff07;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.nav_listItem {
	display: flex;
	margin: 1.5rem auto;
}

.nav_listItem img {
	max-height: 4.5rem;
	width: 100%;
}

.nav_listItem p {
	color: #fff;
	font-family: 'Bahianita', cursive;
	font-size: 1.5em;
	letter-spacing: 0.15rem;
}

.nav_listItem a {
	text-decoration: none;
}

.nav_listItem a:hover {
	text-decoration: underline;
	color: #eaff07;
}

h1 {
	color: #f4f9fc;
	font-family: 'Just Another Hand';
	letter-spacing: 0.15;
	text-transform: uppercase;
	font-size: 3em;
	margin: 0 auto;
	padding: 3rem;
	text-shadow: 4px 6px 8px rgba(42, 77, 65, 0.589);
	word-spacing: 0.175rem;
}

h2 {
	font-family: 'Bahianita', cursive;
}

.footer {
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 3rem 4rem 2rem;
	padding: 0 0;
}

#footer-lg {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem;
	flex: 3;
}

#footer-lg p {
	max-width: 300px;
}

#footer-lg img {
	max-width: 100px;
}

#footer-sm {
	padding: 2rem;
	flex: 2;
}

@media (min-width: 790px) {
	.footer {
		flex-direction: row;
	}
}
