.map {
  height: 900px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#map {
    background: #5ea7d3;
}

@media only screen and (max-width: 1050px) {
  .map {
    height: 700px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 850px) {
  .map {
    height: 500px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: 650px) {
  .map {
    height: 300px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 450px) {

    .map{
        height: 200px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    }
