.waterinfo{
    width: 80%;
    margin-left: 10%;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 30px;
}

.tackleshop{
    padding-bottom: 20px;
}

.fishinfo img{
    width: 300px;
    height: auto;
}

.fishlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.waterImage{
    margin-top: 10px;
}