<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="~{base}"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/landing.css" />
    <title>Document</title>
</head>
<figure id="logo">
    <img src="../css/images/backgrounds/logo.png" alt="" class="logo__image" />
  </figure>
<body>
  <div layout:fragment="page_content2">
    <h1>OHIO'S ESSENTIAL FISHING APP</h1>
  </div>
  <div class="container">
    <div class="words">WELCOME TO WE'RE HOOKED!</div>  
    <div class="detail">
      <div class="words2">
        <p>Developed by WE_CAN_CATCH_IT, the 'We're Hooked' app provides key information regarding fishing in the State of Ohio. Click on an icon above to get started. </p>
      </div>  
  </div>
</body>
<div layout:fragment="scripts">
  <script src="../js/landing.js" type="module"></script>
</div>  

</html>