<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./landing.css" />
    <title>Document</title>
</head>
<figure id="logo">
    <img src="backgrounds/logo.png" alt="" class="logo__image" />
  </figure>
<body>
    <div class="container"><canvas width="1400" height="600" id="fishtank">
    </div>
    <div class="enter"><img src="backgrounds/fisherman.png"></a></div>
</body>
<script src="./landing.js" type="module"></script>
<footer class="footer">
    <strong class="footer__copyright">COPYRIGHT &copy;2021 WE_CAN_CATCH_IT!</strong>
  </footer>
</html>