<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../css/landing.css" />
	<title>Document</title>
</head>

<body>
	<div layout:fragment="page_content">
		<div id="landing-wrapper">
			<a th:href="@{'/home'}" id="fish-container">
				<canvas width="1920" height="1080" id="fishtank"></canvas>
			</a>
			<a th:href="@{'/home'}" id="logo">
				<img src="../images/backgrounds/logo.png" alt="cute fisherman" /></a>
			<a th:href="@{'/home'}" id="fishingIcon">
				<img src="../images/buttons/Fishermen/fisherman.png" alt="cute fisherman" />
			</a>
		</div>
	</div>
</body>
<div layout:fragment="scripts">
	<script src="../js/landing.js" type="module"></script>
</div>

</html>