<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="~{base}"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"
			type="text/javascript"
		></script>

		<link
			href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"
		></script>
		<link rel="stylesheet" href="../css/uploadForm.css" />
		<title>Document</title>
	</head>

	<body>
		<div layout:fragment="page_content">
			<div id="gallery-wrapper">
				<h1>Fish Gallery</h1>
				<div th:if="${message}">
					<h2 th:text="${message}" />
				</div>

				<div>
					<form
						method="POST"
						enctype="multipart/form-data"
						action="/feed"
					>
						<div id="uploadForm">
							<div>
								<span>File to upload:</span>
								<span><input type="file" name="file" /></span>
							</div>
							<div>
								<input type="submit" value="Upload" />
							</div>
						</div>
					</form>
				</div>

				<!-- <div class="gallery" th:each="file : ${files}">
					<a th:href="${file}" th:src="${file}"
						><img th:src="${file}" alt="" class="galleryImg"
					/></a>
				</div> -->

				<div
					id="nanogallery2"
					data-nanogallery2='{
						"thumbnailWidth":           200,
						"thumbnailHeight":          "auto",
						"thumbnailBaseGridHeight" : 100
					}'
				>
					<!-- gallery content -->
					<!-- <a href = "berlin1.jpg"   data-ngThumb = "berlin1_t.jpg" > Berlin 1 </a>
				<a href = "berlin2.jpg"   data-ngThumb = "berlin2_t.jpg" > Berlin 2 </a>
				<a href = "berlin3.jpg"   data-ngThumb = "berlin2_t.jpg" > Berlin 3 </a> -->

					<div class="gallery" th:each="file : ${files}">
						<a th:href="${file}"></a>
					</div>
				</div>

				<!-- <div>
                <ul>
                    <li th:each="file : ${files}">
                        <a th:href="${file}" th:src="${file}"><img th:src="${file}" alt=""></a>
                    </li>
                </ul>
            </div> -->
			</div>
		</div>
	</body>
	<div layout:fragment="scripts"></div>
</html>
