<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="~{base}"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/video.css" />
		<title>How To</title>
	</head>

	<body>
		<div layout:fragment="page_content">
			<div id="video-wrapper">
				<h1>test video</h1>
				<div class="item">
					<div class="itemTitle">
						<h2>How To Cast</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/mZSIvpKVA4c"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="item">
					<div class="itemTitle">
						<h2>How To Land A Fish</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/shPECcq_x50"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="item">
					<div class="itemTitle">
						<h2>All You Need To Get Started</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/-P0OVbWvw7I"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="item">
					<div class="itemTitle">
						<h2>Getting a License</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/o4_Mt-npPwE"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="item">
					<div class="itemTitle">
						<h2>How to Unhook a Fish</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/MYaufaB9tNw"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="item">
					<div class="itemTitle">
						<h2>How to Unhook Yourself</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/dL53j3MViWk"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="item">
					<div class="itemTitle">
						<h2>How to Tie a Knot</h2>
					</div>
					<div class="itemContent">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/NmDNRE-QOG4"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</body>
	<div layout:fragment="scripts">
		<script src="../js/landing.js" type="module"></script>
	</div>
</html>
