<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="~{base}"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/landing.css" />
		<link rel="stylesheet" href="../css/water.css">
		<title th:text="${water.name}" ></title>
	</head>

	<body>
		<div layout:fragment="page_content">
            <header>
                <h1 th:text="${water.name}" ></h1>
             </header>
             <div class="info">
             <img class="waterImage" th:src="${water.image}" alt="">
             <article class="waterinfo">
				<p th:text=" 'Description: ' + ${water.description}"></p>
				<p th:text=" 'Type of Water: ' + ${water.type}" ></p>
				<p th:text=" 'Surface area: ' + ${water.area} + ' miles' " ></p>
				<p th:text=" 'Average depth: ' + ${water.depth} + ' feet' "  ></p>
			 </article>
             <div class="tackleshop" th:each="tackleShop: ${water.tackleShop}" >
				 <h2>Tackle shops nearby:</h2>
                <a th:href="@{'/tackleshop/'+ ${tackleShop.name}}"
                   th:text="${tackleShop.name}" ></a>
             </div>
			 <div class="fishInLake">
				 <h2>Fish found in this lake:</h2>
				<div class="fishlist">
					<div class="fishinfo" th:each="fish:${water.fish}" >
						<a th:href="@{'/fish/'+ ${fish.name}}">
						<img th:src="${fish.image}" alt=""></a>
						<p th:text="${fish.name}" ></p>
					 </div>
				</div>
			 </div>
             </div>
		</div>
	</body>
	<a href=""></a>
	<div layout:fragment="scripts">
		<script src="../js/landing.js" type="module"></script>
	</div>
</html>
